.bouton{
    background-color: blueviolet; /* je fait un arrondi de 10px dans les angles */
    font-size: 30px; /* taille de la police */
    color: black; /* couleur du texte */
    text-decoration: none; /* rettirer la ligne, retirer la decoloration du texte */
    border-radius: 10px; /* je fait un arrondi de 10px dans les angles */
    padding: 20px 60px*1 /* mange interieur du bloc */
    border: 4px solid red; /* gestion de la bordure : epaisseur, type de ligne */
}


.textCentre {
text-align: center;  /* centrer le textes */  
}